<div id="categoryapp">

  <header>
    <h1>Smart Budget</h1>
    <!-- <div class="view">
      <label>$500</label>
    </div>
    <input class="edit" type="text" value="$500" /> -->
    <input id="new-category" type="text" placeholder="New categories?">
  </header>

  <section id="main">
    <ul id="category-list"></ul>
  </section>

  <footer>
  </footer>

</div>

<div id="instructions">
  Double-click to edit a category.
</div>


<!-- Templates -->

<script type="text/template" id="item-template">
  <ul id="expense-list">
    <div class="view">
      <span class="colapse">+ </span> <label><%%= title %></label>
      <a class="destroy"></a>
    </div>
    <input class="edit" type="text" value="<%%- title %>" />
  </ul>
</script>

<script type="text/template" id="stats-template">
  <div class="category-count"><b><%%= totalCategories %></b> <%%= totalCategories == 1 ? 'category' : 'categories' %> </div>
</script>
