<div id="categoryapp">

  <header>
    <h1>Smart Budget</h1>
    <input id="new-category" type="text" placeholder="New categories?">
  </header>

  <section id="main">
    <input id="toggle-all" type="checkbox">
    <label for="toggle-all">Mark all as complete</label>
    <ul id="category-list"></ul>
  </section>

  <footer>
    <!-- <a id="clear-completed">Clear completed</a>
    <div id="category-count"></div> -->
  </footer>

</div>

<div id="instructions">
  Double-click to edit a category.
</div>

<script src="js/lib/json2.js"></script>
<script src="js/lib/jquery-min.js"></script>
<script src="js/lib/underscore-min.js"></script>
<script src="js/lib/backbone-min.js"></script>
<script src="js/lib/backbone.localStorage.js"></script>
<script src="js/main.js"></script>

<!-- Templates -->

<script type="text/template" id="item-template">
  <div class="view">
    <input class="toggle" type="checkbox" <%%= done ? 'checked="checked"' : '' %> />
    <label><%%= title %></label>
    <a class="destroy"></a>
  </div>
  <input class="edit" type="text" value="<%%- title %>" />
</script>

<script type="text/template" id="stats-template">
  <%% if (done) { %>
    <a id="clear-completed">Clear <%%= done %> completed <%%= done == 1 ? 'item' : 'items' %></a>
  <%% } %>
  <div class="category-count"><b><%%= remaining %></b> <%%= remaining == 1 ? 'item' : 'items' %> left</div>
</script>
