<div id="categoryapp">

  <header>
    <h1>Smart Budget</h1>
    <div class="budget-view" data-id="<%= @budget.id %>">
      <label class="budget-label">$<%= @budget.budget %></label>
      <input class="budget-edit" type="text" value="<%= @budget.budget %>" >
    </div>
    <input id="new-category" type="text" placeholder="New categories?">
  </header>

  <section id="main">
    <ul id="category-list"></ul>
  </section>

  <footer>
  </footer>

</div>

<div id="instructions">
  Double-click to edit a category.
</div>


<!-- Templates -->

<script type="text/template" id="category-item-template">
  <ul id="expense-list">
    <div class="view">
      <span class="category-toggle collapse">+ </span> 
      <label class="category-label"><%%= title %></label>
      <label class="category-subtotal">$<%%= sub_total %></label>
      <a class="destroy"></a>
    </div>
    <input class="edit" type="text" value="<%%- title %>" >
    <input id="new-expense" type="text" placeholder="New expenses?">
  </ul>
</script>

<script type="text/template" id="stats-template">
  <div class="category-count"><b><%%= totalCategories %></b> <%%= totalCategories == 1 ? 'category' : 'categories' %> </div>
</script>
